<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Sudoku Solver</title>
    <meta name="description" content="@ViewBag.Title" />
    <meta name="keywords" content="SUDOKU SOLVER, SUDOKU TIPS, SUDOKU ONLINE, SUDOKU STRATEGY, FREE SUDOKU" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")
</head>
<body>
    <div id="body">
        @RenderBody()
    </div>

    <footer>
        <nav>
            <ul id="menu">
                <li>@Html.ActionLink("Solver", "Index", "Home", new { area = "" }, null)</li>
                <li>@Html.ActionLink("API", "Index", "Help", new { area = "HelpPage" }, null)</li>
            </ul>
        </nav>
        <p>
            Made by <a href="http://twitter.com/theStarvis">Simon Wilson</a> -
            <a href="http://www.swilson96.com">www.swilson96.com</a> -
            Code available <a href="https://github.com/swilson96/sudoku-web-solver">on github</a>
        </p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/ajaxlogin")
    @RenderSection("scripts", required: false)
</body>
</html>