
@{
    ViewBag.Title = "Sudoku Solver";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}

<header>
    <h1>@ViewBag.Title</h1>
</header>

<a href="https://github.com/swilson96/sudoku-web-solver">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png">
</a>

<div id="main-content">
    <p class="error" data-bind="text: errorMessage"></p>
    <div class="grid">
@for (var i = 0; i < 9; ++i)
{
    if (i%3 == 0 && i > 0)
    {
        <div class="row rowSpace"></div>
    }
        <div class="row">
    @for (var j = 0; j < 9; ++j)
    {
        if (j%3 == 0 && j > 0)
        {
            <div class="span1 columnSpace"></div>
        }
            <div class="span1">
                <input type="text" onkeydown="sudokuKeyFilter()" maxlength="1" data-bind="value: sudoku()[@i]()[@j], disable: working" />
            </div>
    }
        </div>
}
    </div>
    <input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />
    <button data-bind="click: solve, disable: working">Solve</button>
</div>

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/sudoku")
    @Scripts.Render("~/bundles/grid")
}

<script type="text/javascript">
    function sudokuKeyFilter() {
        if ((65 <= event.keyCode && event.keyCode <= 90)
            || (106 <= event.keyCode && event.keyCode <= 111)
            || (186 <= event.keyCode && event.keyCode <= 222)
            || event.keyCode == 48
            || event.keyCode == 96) {
            //Prevent default action, which is inserting character
            if (event.preventDefault) event.preventDefault(); //normal browsers
            event.returnValue = false; //IE
        }
    }
</script>