
@{
    ViewBag.Title = "Sudoku Solver";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}

<header>
    <h1>@ViewBag.Title</h1>
</header>

<div id="main-content">
    <p class="error" data-bind="text: errorMessage"></p>
    <div class="grid">
@for (var i = 0; i < 9; ++i)
{
    if (i%3 == 0 && i > 0)
    {
        <div class="row rowSpace"></div>
    }
        <div class="row">
    @for (var j = 0; j < 9; ++j)
    {
        if (j%3 == 0 && j > 0)
        {
            <div class="span1 columnSpace"></div>
        }
            <div class="span1">
                <input type="text" onkeydown="sudokuKeyFilter()" maxlength="1" data-bind="value: sudoku()[@i]()[@j]" />
            </div>
    }
        </div>
}
    </div>
    <input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />
    <button data-bind="click: solve">Solve</button>
</div>

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/sudoku")
    @Scripts.Render("~/Scripts/app/grid.js")
}

<script type="text/javascript">
    function sudokuKeyFilter() {
        if ((65 <= event.keyCode && event.keyCode <= 90)
            || (106 <= event.keyCode && event.keyCode <= 111)
            || (186 <= event.keyCode && event.keyCode <= 222)
            || event.keyCode == 48
            || event.keyCode == 96) {
            //Prevent default action, which is inserting character
            if (event.preventDefault) event.preventDefault(); //normal browsers
            event.returnValue = false; //IE
        }
    }
</script>